button {
	color: white;
	border: none;
	border-radius: 1rem;
	font-size: 2rem;
}
.container {
	width: 80vw;
	margin: auto;
}
.time {
	font-size: 4vw;
	margin-left: 1.5rem;
}
.start {
	background-color: rgb(91, 194, 7);
}
.reset {
	background-color: rgb(74, 83, 82);
	margin-left: 1rem;
}
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* margin-left: 30vw; */
	margin-top: 30vh;
}
