* {
	margin: 0;
	padding: 0;
}
button {
	border-radius: 2rem;
}
.container {
	width: 100vw;
	height: 100vh;
	margin: auto;
	background-color: #6782aa;
	display: flex;
	justify-content: center;
}

.hero {
	margin-top: 10vw;
	width: 25vw;
	height: 35vw;
	border-radius: 12px;
	background-color: white;
}
.heading {
	margin-top: 2vw;
	height: 5vw;
	background-color: #876ba9;
	color: white;
	text-align: center;
}
.input-div {
	justify-content: center;
	margin-left: 3.5vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	display: flex;
	width: 60%;
}
.list-data {
	display: flex;
	margin-top: 2vw;
	width: 5vw;
}
.demo-text {
	margin-left: 0.5rem;
}
.delete {
	margin-left: 0.5rem;
	background-color: red;
	color: white;
	font-size: 1rem;
	border-radius: 1rem;
}
